:root{
    --bg:#0a0a0a;
    --panel:#171717;
    --border:#262626;
    --text:#e5e5e5;
    --yellow:#eab308;
}

html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    background:var(--bg);
}

/* 🔥 CRÍTICO PARA LEAFLET */
#map-container{
    width:100%;
    height:100%;
    display:flex;
}

#map{
    width:100%;
    height:100%;
}
